<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{data.name}} | Mantle</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
        <link rel="stylesheet" href="./css/main.min.css">
    </head>
    <body class="p-invite" style="background-image: url('{{data.cover_photo}}');">
        <form method="GET" action="./invite">
            <fieldset>
                <legend>{{data.name}}</legend>
                <div class="badges">
                    <div>
                        <img src="./api/etc/badges/members_total.svg" alt="total member count">
                        <img src="./api/etc/badges/members_online.svg" alt="online member count">
                    </div>
                    <img src="{{data.profile_photo}}" alt="server profile photo">
                </div>
                <p>{{data.description}}</p>
                <hr><hr>
                <p>New? Join here!</p>
                {{#unless data.public}}
                <div class="frm-txt">
                    <label for="invc">Invite Code</label>
                    <input type="text" name="code" id="invc" required="" value="{{code}}">
                </div>
                {{/unless}}
                <button type="submit">Enter</button>
                <hr><hr>
                <p>Already a member?</p>
                <a href="./login">Log In</a>
            </fieldset>
        </form>
    </body>
</html>
