<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{data.name}} | Mantle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{data.description}}">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
        <link rel="stylesheet" href="./css/main.min.css">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body class="p-invite" style="background-image: url('{{data.cover_photo}}');">
        <form method="GET" action="./invite">
            <div class="v"><img src="./api/etc/badges/version.svg" alt="server version"></div>
            <fieldset>
                <legend>{{data.name}}</legend>
                <div class="badges">
                    <div>
                        <img src="./api/etc/badges/members_total.svg" alt="total member count">
                        <img src="./api/etc/badges/members_online.svg" alt="online member count">
                    </div>
                    <img src="{{data.profile_photo}}" alt="server profile photo">
                </div>
                <p>{{data.description}}</p>
                <hr><hr>
                {{#equal data.public "0"}}
                <p>{{translate 's001'}}</p>
                <div class="frm-txt">
                    <label for="invc">{{translate 's005'}}</label>
                    <input type="text" name="code" id="invc" required="" value="{{code}}">
                </div>
                <button type="submit">{{translate 's002'}}</button>
                <hr><hr>
                <p>{{translate 's003'}}</p>
                {{/equal}}
                <a href="./login">{{translate 's004'}}</a>
            </fieldset>
        </form>
    </body>
</html>
