<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{data.name}} | Mantle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{data.description}}">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha256-/PVkO2+mUlKqE6wgKVXU5Wh4mx3vncHAxLEdpXrziGo=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/components/icon.min.css" integrity="sha256-2kYMj3yE80H+IDs+HOVv+yYQN8KTZExe1HXxwlJaBIc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="./../api/etc/role_colors.css?n=0" id="link-role-color">
        <link rel="stylesheet" href="./css/style.min.css">
        <link rel="stylesheet" href="./../style.css">
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha256-rNQvJc3/MuwBWFwVTqr0qJ91nWA1pR7PDLk31hgGqP8=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script defer src="https://twemoji.maxcdn.com/v/13.0.0/twemoji.min.js" integrity="sha384-avLpk7eChiSgpDvwa4N7hvg9vj6V9sfFmGHurVkPOlWUalASzcO3d2x3qcbQqhsH" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.4.0/custom-elements.min.js" integrity="sha256-vv/BrFy1OaYwh6wQq1T9z7QUVv5HLaZ5XS13D96g5nE=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data.min.js" integrity="sha256-IWYg4uIC8/erItNXYvLtyYHioRi2zT1TFva8qaAU/ww=" crossorigin="anonymous"></script>
        <script defer src="./js/polyfills.js"></script>
        <script type="module" src="./js/script.js"></script>
    </head>
    <body>
        <div id="server-name">
            <span class="loading" data-bind="server_name"></span>
            <a id="open_settings_server"><i class="i cog icon"></i></a>
        </div>
        <div id="channel-name">
            <div>
                <span data-bind="channel_name"></span>
                <span data-bind="channel_description"></span>
            </div>
            <div>
                <a id="shrink_uonline"><i class="i users icon"></i></a>
            </div>
        </div>
        <div id="channel-list">
            <ol></ol>
            <hr data-requires="manage_channels">
            <button data-requires="manage_channels">{{translate 's042'}}</button>
        </div>
        <x-messages id="messages">
        </x-messages>
        <x-uonline id="users-online-list">
        </x-uonline>
        <div id="me">
            <div></div>
            <a><i class="i user cog icon"></i></a>
        </div>
        <div id="input">
            <input type="text" placeholder="{{translate 's043'}}">
        </div>
        <x-settings data-s-for="user">
            <div>
                <nav>
                    <a>{{translate 's007'}}</a>
                    <a>{{translate 's009'}}</a>
                    <a class="div"></a>
                    <a>{{translate 's010'}}</a>
                </nav>
                <div>
                    <div data-s-section="my_account">
                        <h2>{{translate 's007'}}</h2>
                        <hr>
                        <x-text-setting endpoint="./../api/users/%s" name="nickname" label="Nickname" fill=""></x-text-setting>
                    </div>
                    <div data-s-section="notifications">
                        <h2>{{translate 's009'}}</h2>
                        <hr>
                        <x-2s-toggle local-name="notifications_messages" label="Enable New Message Notifications"></x-2s-toggle>
                    </div>
                    <div data-s-section="about_mantle">
                        <h2>{{translate 's010'}}</h2>
                        <hr>
                        <h3>{{translate 's011'}}</h3>
                        <div><a href="https://github.com/nektro/mantle" target="_blank">https://github.com/nektro/mantle</a></div>
                        <h3>{{translate 's012'}}</h3>
                        <div><code data-bind="server_version"></code></div>
                        <h3>{{translate 's013'}}</h3>
                        <div><img height="32" src="https://unpkg.com/simple-icons@latest/icons/paypal.svg" /><a href="https://paypal.me/nektro">https://paypal.me/nektro</a></div>
                        <div><img height="32" src="https://unpkg.com/simple-icons@latest/icons/stellar.svg" /><code>GDE24X35RCFKKGX6ZSZ7IHBEAHCI6TCRPEJVCAFJ2QYSD4O4PI5NUMPR</code></div>
                        <div><img height="32" src="https://unpkg.com/simple-icons@latest/icons/bitcoin.svg" /><code>bc1q594plq42twljm4e2vdp5j6zt3crsrzrruthsnq</code></div>
                        <div><img height="32" src="https://unpkg.com/simple-icons@latest/icons/ethereum.svg" /><code>0x4988b557c2cEf8c43766Db7BdF4200767f58c129</code></div>
                        <div><img height="32" src="https://unpkg.com/simple-icons@latest/icons/litecoin.svg" /><code>MVNybn4UUg5XzNe8RQDoA1dpQEJVLHNKTU</code></div>
                        <h3>{{translate 's014'}}</h3>
                        <div><a href="https://github.com/nektro/mantle/blob/master/LICENSE">Apache 2.0</a></div>
                    </div>
                </div>
            </div>
        </x-settings>
        <x-settings data-s-for="server" data-bind-to="open_settings_server">
            <div>
                <nav>
                    <a data-requires="manage_server">{{translate 's015'}}</a>
                    <a data-requires="view_audits">{{translate 's045'}}</a>
                    <a data-requires="manage_invites">{{translate 's016'}}</a>
                    <a data-requires="manage_channels">{{translate 's017'}}</a>
                    <a data-requires="manage_roles">{{translate 's018'}}</a>
                </nav>
                <div>
                    <div data-s-section="overview">
                        <h2>{{translate 's015'}}</h2>
                        <hr>
                        <x-text-setting endpoint="./../api/update_property" name="name" label="{{translate 's021'}}" binding="server_name"></x-text-setting>
                        <x-text-setting endpoint="./../api/update_property" name="description" label="{{translate 's022'}}"></x-text-setting>
                        <x-text-setting endpoint="./../api/update_property" name="cover_photo" label="{{translate 's032'}}"></x-text-setting>
                        <x-text-setting endpoint="./../api/update_property" name="profile_photo" label="{{translate 's033'}}"></x-text-setting>
                        <x-2s-toggle endpoint="./../api/update_property" name="public" label="{{translate 's025'}}"></x-2s-toggle>
                        <x-text-setting endpoint="./../api/update_property" name="count_users_members_max" label="Max Member Count" type="number" min="0" fill=""></x-text-setting>
                    </div>
                    <div data-s-section="audits">
                        <h2>{{translate 's045'}}</h2>
                        <p>Here you can view a full print-out of the history of actions that have taken place on your Mantle instance. This will include: the type of action, the time it took place, a unique identifier, the ID of the member who performed the action, the ID of the resource affected, and any additional data specific to that action.</p>
                        <p><a href="./../api/admin/audits.csv">Audits.csv</a></p>
                        <p>Full UI element coming soon!</p>
                    </div>
                    <div data-s-section="invites">
                        <h2>{{translate 's016'}}</h2>
                        <hr>
                        <x-selection>
                            <nav class="static">
                                <a class="div"></a>
                                <a class="new skip">{{translate 's044'}}</a>
                            </nav>
                            <div>
                                <x-text-setting readonly="" name="name" label="Code" fill=""></x-text-setting>
                                <x-text-setting readonly="" name="uses" label="Uses" fill=""></x-text-setting>
                                <x-text-setting name="max_uses" label="Max Uses" type="number" min="0" fill=""></x-text-setting>
                                <x-2s-toggle name="is_frozen" label="{{translate 's040'}}" fill=""></x-2s-toggle>
                                <hr>
                                <h3>{{translate 's047'}}</h3>
                                <x-button method="delete" class="danger" fill="" text="{{translate 's041'}}"></x-button>
                            </div>
                        </x-selection>
                    </div>
                    <div data-s-section="channels">
                        <h2>{{translate 's017'}}</h2>
                        <hr>
                        <x-selection>
                            <nav>
                            </nav>
                            <div>
                                <x-text-setting name="name" label="{{translate 's021'}}" fill=""></x-text-setting>
                                <x-text-setting name="description" label="{{translate 's022'}}" fill=""></x-text-setting>
                                <x-2s-toggle name="history_off" label="{{translate 's035'}}" fill="" inverted></x-2s-toggle>
                            </div>
                        </x-selection>
                    </div>
                    <div data-s-section="roles">
                        <h2>{{translate 's018'}}</h2>
                        <hr>
                        <x-selection>
                            <nav>
                                <a class="div"></a>
                                <a class="new">{{translate 's044'}}</a>
                            </nav>
                            <div>
                                <x-text-setting name="name" label="{{translate 's021'}}" fill=""></x-text-setting>
                                <x-text-setting name="color" label="{{translate 's026'}}" fill=""></x-text-setting>
                                <x-2s-toggle name="distinguish" label="{{translate 's027'}}" fill=""></x-2s-toggle>
                                <x-3s-toggle name="perm_manage_server" label="{{translate 's028'}}" fill=""></x-3s-toggle>
                                <x-3s-toggle name="perm_manage_channels" label="{{translate 's029'}}" fill=""></x-3s-toggle>
                                <x-3s-toggle name="perm_manage_roles" label="{{translate 's030'}}" fill=""></x-3s-toggle>
                                <x-3s-toggle name="perm_manage_invites" label="{{translate 's036'}}" fill=""></x-3s-toggle>
                                <x-3s-toggle name="perm_view_audits" label="{{translate 's046'}}" fill=""></x-3s-toggle>
                                <hr>
                                <h3>{{translate 's047'}}</h3>
                                <x-button method="delete" class="danger" fill="" text="{{translate 's041'}}"></x-button>
                            </div>
                        </x-selection>
                    </div>
                </div>
            </div>
        </x-settings>
        <x-user-dialog></x-user-dialog>
    </body>
</html>
